<% for(const imp of imports) { %>export { <%= imp.className %> } from './lib/<%= imp.fileName %>';
<% } %>

export * from './lib/directives/compact.directive';
export * from './lib/directives/rtl.directive';
export * from './lib/services/compact.service';
export * from './lib/services/rtl.service';
export * from './lib/ui5-angular.module';
